{% extends "main.html" %}

{% block content %}

<nav id="leftmenu">
    <a href="/catalog"><img src="/images/Backup_100.png" width="100" height="100" alt="" /></a>
</nav>

<section id="content">
<h1>New library</h1>
<form action="/admin/library" method="post">
    <input type="text" name="library" style="width:400px;" /><br />
    <input type="submit" name="submit_library" value="Create library" /><br />
</form>
<br />
<br />

<h1>Invite users</h1>
<form action="/admin/invite" method="post">
    <select name="library">
        {% for l in libraries %}
        <option value="{{ l.key }}">{{ l.name }}</option>
        {% endfor %}
    </select><br />
    <textarea name="emails" cols="50" rows="7" style="width:400px;"></textarea><br />
    <input type="submit" name="submit_invites" value="Send invites" />
</form>
</section>

{% endblock %}