{% extends "main.html" %}

{% block content %}
<nav id="leftmenu">
    <a href="/catalog"><img src="/images/Catalog_100.png" width="100" height="100" alt="" /></a>
    <ul>
        <li>
            <a href="">Autor</a>
        </li>
        <li>
            <a href="">Liik</a>
        </li>
        <li>
            <a href="">Keel</a>
        </li>
        <li class="selected">
            <a href="">Ilmumisaasta</a>
        </li>
    </ul>
</nav>

<section id="content">
    <h1>Liik</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada lorem sit amet libero dignissim nec pharetra arcu condimentum. Praesent faucibus tristique dignissim. Cras non urna magna. Cras at porttitor neque. Suspendisse porta lorem vel felis molestie laoreet. Aenean sit amet turpis enim. Donec malesuada consectetur orci, ut dictum enim fringilla interdum. Quisque viverra mauris vitae sapien hendrerit facilisis. Fusce hendrerit odio ullamcorper tortor tincidunt non tempus ligula varius. Etiam semper dolor ac ante lobortis nec tempor ipsum mollis. Pellentesque pharetra suscipit arcu vitae interdum. Proin vel lectus sit amet turpis gravida aliquet quis sit amet dolor.
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>

{% endblock %}