{% extends main_template %}

{% block head %}
<link rel="stylesheet" href="/css/slickmap.css" />
{% endblock %}

{% block content %}

<section id="wide_content">
    <img src="/images/Application_200.png" width="200" height="200" alt="logo" style="margin:20px auto; display:block;" />

    <nav>
        <ul id="primaryNav" class="col4" style="padding:20px 0px 0px 20px; width:878px;">
            <li id="first">
                <a href="/catalog"><img src="/images/Catalog_50.png" width="50" height="50" alt="" />{{ str.catalog }}</a>
                <ul>
                    <li>
                        <a href="">{{ str.inventory }}</a>
                    </li>
                    <li>
                        <a href="">{{ str.ordering }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><img src="/images/Lending_50.png" width="50" height="50" alt="" />{{ str.lending }}</a>
                <ul>
                    <li>
                        <a href="/persons">{{ str.persons }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><img src="/images/Statistics_50.png" width="50" height="50" alt="" />{{ str.statistics }}</a>
            </li>
            <li>
                <a href="/preferences"><img src="/images/Preferences_50.png" width="50" height="50" alt="" />{{ str.preferences }}</a>
            </li>
        </ul>
    </nav>
</section>

{% endblock %}