{% extends "main.html" %}

{% block content %}
<div class="span-95 prepend-top" style="margin:40px 0px; text-align:center;">
    <img src="/images/Application_200.png" width="200px" height="200px" alt="logo" /><br />
    <h1>
        ARX-Raamat
    </h1>
</div>

<div class="span-93 push-2">
    <ul id="primaryNav" class="span-90 col4">
        <li id="first">
            <a href="/catalog"><img src="/images/Catalog_50.png" width="50px" height="50px" alt="" />{{ str.catalog }}</a>
            <ul>
                <li>
                    <a href="">{{ str.inventory }}</a>
                </li>
                <li>
                    <a href="">{{ str.ordering }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href=""><img src="/images/Lending_50.png" width="50px" height="50px" alt="" />{{ str.lending }}</a>
            <ul>
                <li>
                    <a href="/person">{{ str.persons }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href=""><img src="/images/Statistics_50.png" width="50px" height="50px" alt="" />{{ str.statistics }}</a>
        </li>
        <li>
            <a href=""><img src="/images/Preferences_50.png" width="50px" height="50px" alt="" />{{ str.preferences }}</a>
        </li>
    </ul>
</div>


{% endblock %}