<div class="table" style="margin:0px;">
    {% for item in items %}
    <div class="table_row">
        <div class="table_cell">
            {% if item.isbn.0 %}
            <img src="/item/imagebyisbn/{{ item.isbn.0 }}" height="40" style="float:left; margin-right:10px;" />
            {% endif %}
            <b>{{ item.title.0 }}</b>{% if item.number.0 %}<br />{{ item.number.0 }}{% endif %}<br />
            <span style="font-size:11px;">{{ item.published_by.0 }} <b>{{ item.published_date.0 }}</b> {{ item.published_place.0 }}</span>
        </div>
        <div class="table_cell">
            {{ item.authors.0.name }}
        </div>
        <div class="table_cell">
            {{ item.type }}
        </div>
        <div class="table_cell" style="text-align:right; vertical-align:middle;">
            <a href="/item/add?item_id={{ item.id }}" class="button" alt="">{{ str.add_item }}</a>
        </div>
    </div>
    {% endfor %}
</div>