{% extends "main.html" %}

{% block content %}
<div class="span-95 prepend-top" style="margin:40px 0px; text-align:center;">
    <img src="/images/Application_200.png" width="200px" height="200px" alt="logo" /><br />
    <h1 style="">
        {{ str.login }}
    </h1>
</div>

<div class="span-93 push-2">
    <ul id="primaryNav" class="col6">
        <li id="first">
            <a href=""><img id="mobiilid" class="openid active" src="/images/openid/mobiilid.png" width="88" height="31" alt="Mobiil ID" /></a>
        </li>
        <li>
            <a href=""><img id="idkaart" class="openid active" src="/images/openid/idkaart.png" width="88" height="31" alt="ID Kaart" /></a>
        </li>
        <li>
            <a href=""><img id="google" class="openid active" src="/images/openid/google.png" width="88" height="31" alt="Google" /></a>
        </li>
        <li>
            <a href=""><img id="yahoo" class="openid active" src="/images/openid/yahoo.png" width="88" height="31" alt="Yahoo" /></a>
        </li>
        <li>
            <a href=""><img id="myspace" class="openid active" src="/images/openid/myspace.png" width="88" height="31" alt="mySpace" /></a>
        </li>
        <li>
            <a href=""><img id="myopenid" class="openid active" src="/images/openid/myopenid.png" width="88" height="31" alt="myOpenID" /></a>
        </li>
    </ul>
</div>

<div class="span-91 push-2" style="text-align:justify;">
    {{ str.openid_info }}
</div>


<div class="span-35 push-2 prepend-top">
    <h2>{{ str.new_user }}</h2>
    <span style="font-size:10px;">{{ str.new_user_info }}</span><br />
    <input type="text" id="email" class="span-20" name="email" value="" placeholder="{{ str.enter_email }}" />
    <a href="" id="submit_register_form" class="span-8 prepend-top last button">{{ str.send_invate }}</a>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        $("img#mobiilid").click(function () {openid_submit("openid.ee/server/xrds/mid", this);});
        $("img#idkaart").click(function () {openid_submit("openid.ee/server/xrds/eid", this);});
        $("img#google").click(function () {openid_submit("google.com/accounts/o8/id", this);});
        $("img#yahoo").click(function () {openid_submit("yahoo.com", this);});
        $("img#myspace").click(function () {openid_submit("myspace.com", this);});
        $("img#myopenid").click(function () {openid_submit("myopenid.com", this);});

        function openid_submit(url, img) {
            $(img).addClass("openid-selected");
            $("input#openid_url").val(url);
            $("form#openid_form").submit();
        }


        $("input#email").keydown(function(e) {
            if((e.charCode == 13 || e.keyCode == 13)) {
                registration_submit()
                return false;
            }
        });

        $("a#submit_register_form").click(function () {
            registration_submit()
            return false;
        });

        function registration_submit() {
            if($("input#email").val() != "") {
                $("div#register_form").hide();
                $.post("/login/new", { "email": $("input#email").val() },
                    function(data){
                        $("div#register_form").replaceWith(data);
                    });
            };
        }

    });
</script>

{% endblock %}