{% extends "main.html" %}

{% block content %}

<div id="header" class="span-95 last">
    <img src="/images/logo_small.png" width="60px" height="20px" />
</div>
<div class="span-23 whitebox">
    <h2>{{ str.login }}</h2>
    <img id="mobiilid" class="openid active" src="/images/openid/mobiilid.png" width="88" height="31" alt="Mobiil ID" />
    <img id="idkaart" class="openid active" src="/images/openid/idkaart.png" width="88" height="31" alt="ID Kaart" />
    <img id="google" class="openid active" src="/images/openid/google.png" width="88" height="31" alt="Google" />
    <img id="yahoo" class="openid active" src="/images/openid/yahoo.png" width="88" height="31" alt="Yahoo" />
    <img id="myspace" class="openid active" src="/images/openid/myspace.png" width="88" height="31" alt="mySpace" />
    <img id="myopenid" class="openid active" src="/images/openid/myopenid.png" width="88" height="31" alt="myOpenID" />
    <img id="youropenid" class="openid active" src="/images/openid/openid.png" width="88" height="31" alt="OpenID" />
    <form id="openid_form" class="hide" method="get" action="/_ah/login_required">
        <fieldset>
            {{ str.openid_url }}:<br />
            {% if continue %}
            <input type="hidden" name="continue" value="{{continue|escape}}" />
            {% endif %}
            <input type="text" id="openid_url" class="span-23 last" name="openid" value="" />
            <a href="" id="submit_openid_form" class="span-8 button" style="margin-top:5px; float:right;">{{ str.login }}</a>
        </fieldset>
    </form>
</div>

<div class="span-66 push-3 last">
    {{ str.openid_info }}
</div>

<script type="text/javascript">
    $(document).ready(function(){

        $("#mobiilid").click(function () {openid_submit("openid.ee/server/xrds/mid", this);});
        $("#idkaart").click(function () {openid_submit("openid.ee/server/xrds/eid", this);});
        $("#google").click(function () {openid_submit("google.com/accounts/o8/id", this);});
        $("#yahoo").click(function () {openid_submit("yahoo.com", this);});
        $("#myspace").click(function () {openid_submit("myspace.com", this);});
        $("#myopenid").click(function () {openid_submit("myopenid.com", this);});

        $("img#youropenid").click(function () {
            $("form#openid_form").toggle('blind');
        });

        function openid_submit(url, img) {
            $(img).addClass("openid-selected");
            $("#openid_url").val(url);
            $("#openid_form").submit();
        }

        $("#submit_register_form").click(function () {
            if($("input#register_email").val() != "") {
                $("form#register_form").submit();
            };
            return false;
        });

    });
</script>

{% endblock %}