<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />

        <title>{{ site_name }}</title>

        <meta name="author" content="Argo Roots" />

        <link rel="icon" href="/images/favicon.png" sizes="64x64" type="image/png">

        <link rel="stylesheet" href="/css/screen.css" />


        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
        </script>

        <!--script src="/javascript/jquery.autocomplete.js" type="text/javascript"></script>
        <script src="/javascript/jquery.elastic.js" type="text/javascript"></script>
        <script src="/javascript/jquery.placeholder.js" type="text/javascript"></script-->

        {% block head %}
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-260765-6']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    <script type="text/javascript">
      var uservoiceOptions = {
        key: 'arx',
        host: 'arx.uservoice.com',
        forum: '83265',
        alignment: 'left',
        background_color:'#990000',
        text_color: 'white',
        hover_color: '#336600',
        lang: 'en',
        showTab: true,
        no_dialog: true,
      };
      function _loadUserVoice() {
        var s = document.createElement('script');
        s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script>

    </head>
    <body>
        <header>
            <h1><a href="/">ARX-Raamat</a></h1>
            <nav>
                {% if user %}
                <i>{{ str.welcome }} {{ user.nickname }}!</i> | <a href="{{ logouturl|escape }}">{{ str.logout }}</a>
                {% else %}
                <a href="{{ loginurl|escape }}" style="border:none;">{{ str.login }}</a>
                {% endif %}
            </nav>
        </header>

        <section id="page">

        {% block content %}
        {% endblock %}

        </section>

        <footer>
            <a href="http://validator.w3.org/check?uri=referer">Copyright ©2010 Argo Roots</a>
        </footer>
    </body>
</html>