{% extends "main.html" %}

{% block head %}
<script src="/javascript/jquery.validate.min.js" type="text/javascript"></script>
<style type="text/css">
    header nav {
        display: none;
    }
</style>

{% endblock %}

{% block content %}

<section id="wide_content">

    <img src="/images/Application_200.png" width="200" height="200" alt="logo" style="margin:40px auto; display:block;" />
    <h1 style="text-align:center;">{{ str.signup_welcome }}</h1>

    <form id="signupform" action="" method="post">
        <div>
            <label for="forename">{{ str.forename }}</label>
            <input type="text" id="forename" name="forename" value="{{ person.forename }}" autofocus />
        </div>
        <div>
            <label for="surname">{{ str.surname }}</label>
            <input type="text" id="surname" name="surname" value="{{ person.surname }}" />
        </div>
        <div style="padding-right:0px;">
            <label for="email">{{ str.email }}</label>
            <input type="text" id="email" name="email" value="{{ person.email }}" readonly />
        </div>
    </form>

    <div id="signupform_submit" class="">{{ str.signup_submit }}</div>

    <span style="font-size:12px;">{{ str.signup_message }}</span>

</section>

<script>
    $(document).ready(function(){
        $("#signupform").validate({
            rules: {
                forename: {
                    required: true,
                    minlength: 3
                },
                surname: {
                    required: true,
                    minlength: 3
                },
                email: {
                    required: true,
                    minlength: 5,
                    email: true
                }
            },
            messages: {
                forename: {
                    required: "{{ str.signup_err_forename }}",
                    minlength: jQuery.format("{{ str.signup_err_minlength }}")
                },
                surname: {
                    required: "{{ str.signup_err_forename }}",
                    minlength: jQuery.format("{{ str.signup_err_minlength }}")
                },
                email: {
                    required: "{{ str.signup_err_email }}",
                    minlength: jQuery.format("{{ str.signup_err_minlength }}"),
                    email: "{{ str.signup_err_email }}"
                }
            },
            submitHandler: function(form) {
   	            form.submit();
            }
        });

        $("#signupform_submit").click(function() {
            $("#signupform").submit();
        });
    });
</script>

{% endblock %}