{% extends "main.html" %}

{% block content %}

<div class="span-95 prepend-top" style="margin-top:40px; text-align:center;">
    <h1>
        ARX-Raamat 7
    </h1>
</div>

<div class="span-87 prepend-4" style="margin:40px 0px; text-align:justify;">

    <p>
        ARX-Raamat 7 on Microsoft Windows keskkonnas töötav raamatukogu infosüsteem, millega on võimalik teostada kõiki raamatukogus vajalikke operatsioone (andmete haldamine, laenutus, mahakandmine, statistika jm). Kuigi ARX-Raamat sisaldab spetsiaalselt kooliraamatukogu tööks vajalike osi (nt õpikute ja töövihikute haldamine), on seda võimalik edukalt kasutada ka muudes raamatukogudes.
    </p>

    <h2 style="border-bottom: 1px solid #B9B9B9;">Ülevaade</h2>
    <p>
        <b>Andmed:</b><br />
        ARX-Raamatu andmebaasi fond jaguneb raamatute, õpikute, perioodika, audio-video, töövihikute ja metoodilise kirjanduse vahel. Lisaks on andmed autorite, kirjastuste, liikide jm kohta. Võimalik (ja laenutamise jaoks vajalik) on sisestada andmed ka lugejate kohta. Lugejad saab jagada klassidesse. Andmeid on võimalik lisada, muuta, kustutada ja dubleerida. Samuti kõikide väljade järgi sorteerida, otsida ja filtreerida.<br />
        <br />
        <b>Toimingud:</b><br />
        Programm võimaldab lugejatele välja laenutada (ja jälle raamatukokku tagastada) kõiki fondis olevaid teavikuid. Saab vaadata ja välja trükkida võlglaste nimekirja või vaadata kelle käes on mingi raamat, õpik vm. teavik. Saab vaadata igapäevast laenutusstatistikat nii klasside kui ka meedia liikide kaupa ning vaadata muid statistilisi andmeid. Lisaks on võimalik teostada mahakandmist.
    </p>

    <h2 style="border-bottom: 1px solid #B9B9B9;">Ekraanivaated</h2>
    <div class="prepend-20 append-bottom">
        <div id="featured">
            <img src="/images/v7/login.jpg" title="Programmi sisenemine" alt="" />
            <img src="/images/v7/fond.jpg" title="Raamatute fond" alt="" />
            <img src="/images/v7/eksport.jpg" title="Andmete eksport" alt="" />
            <img src="/images/v7/mahakandmine.jpg" title="Mahakandmine" alt="" />
            <img src="/images/v7/laenutus.jpg" title="Laenutused" alt="" />
            <img src="/images/v7/laenutus_lugeja.jpg" title="Laenutuse 1. samm: Lugeja otsing" alt="" />
            <img src="/images/v7/laenutus_RA.jpg" title="Laenutuse 2. samm: Raamatu otsing" alt="" />
            <img src="/images/v7/laenutus_OP.jpg" title="Laenutuse 2. samm: Õpiku otsing" alt="" />
            <img src="/images/v7/laenutus_kinnitus.jpg" title="Laenutuse 3. samm: Kinnitamine" alt="" />
        </div>
    </div>

    <h2 style="border-bottom: 1px solid #B9B9B9;">Installeerimine</h2>
    <p>
        <span style="color:red;"><b>NB!</b> Kui Teie arvutisse on juba installeeritud ARX-Raamat, siis <b>tehke vanast andmebaasist enne installeerimist varukoopia!</b> Installeerides ARX-Raamatu samasse kataloogi, kustutatakse olemasolev andmebaas.</span><br />
        1. Tõmmake enda arvutisse <a href="/v7/setup/ARX-Raamat7_Setup.exe">ARX-Raamatu install</a> ja installeerige programm<br />
        2. ARX-Raamatu käivitamisel avanevas "Demo" aknast täitke registreerimisvorm ja edastage see interneti teel<br />
        3. Tõmmake enda arvutisse <a href="/v7/setup/ARX-Raamat7_Voti.exe">Võtmefaili generaator</a> ja genereerige võtmefail<br />
        4. Salvestage võtmefail 'Raamat.dll' programmi kataloogi (tavaliselt 'C:\Program Files\ARX-Raamat')<br />
        5. Käivitage ARX-Raamat (kasutajanimi on 'arx' ja parool on 'q')<br />
        6. Lisage programmi seadete alt endale uus kasutaja ja kustutage kasutaja 'arx'
    </p>

    <h2 style="border-bottom: 1px solid #B9B9B9;">Failid</h2>
    <p>
        <a href="/v7/setup"><img src="/images/v7/icon_install.gif" style="vertical-align:middle; padding-right:5px; padding-bottom:5px;" alt="Install" /><b>ARX-Raamatu install</b></a> (5.74 MB)<br />
        <a href="/v7/keygen"><img src="/images/v7/icon_voti.gif" style="vertical-align:middle; padding-right:5px; padding-bottom:5px;" alt="PDF" /><b>Võtmefaili generaator</b></a> (28 KB)<br />
        <a href="/v7/manual"><img src="/images/v7/icon_pdf.gif" style="vertical-align:middle; padding-right:5px;" alt="PDF" /><b>Kasutusjuhend</b></a> (625 KB)<br />
    </p>

    <h2 style="border-bottom: 1px solid #B9B9B9;">Kontaktandmed</h2>
    <p>
        <b>Telefon:</b><br />
        +37256630526<br />
        <br />
        <b>E-mail:</b><br />
        <script type="text/javascript">
        	//<![CDATA[
        	var l=new Array();
        	l[0]='>';l[1]='a';l[2]='/';l[3]='<';l[4]='|101';l[5]='|101';l[6]='|46';l[7]='|120';l[8]='|114';l[9]='|97';l[10]='|64';l[11]='|111';l[12]='|102';l[13]='|110';l[14]='|105';l[15]='>';l[16]='"';l[17]='|101';l[18]='|101';l[19]='|46';l[20]='|120';l[21]='|114';l[22]='|97';l[23]='|64';l[24]='|111';l[25]='|102';l[26]='|110';l[27]='|105';l[28]=':';l[29]='o';l[30]='t';l[31]='l';l[32]='i';l[33]='a';l[34]='m';l[35]='"';l[36]='=';l[37]='f';l[38]='e';l[39]='r';l[40]='h';l[41]=' ';l[42]='a';l[43]='<';
        	for (var i = l.length-1; i >= 0; i=i-1){
        	if (l[i].substring(0, 1) == '|') document.write("&#"+unescape(l[i].substring(1))+";");
        	else document.write(unescape(l[i]));}
        	//]]>
        </script>
    </p>
</div>
<div class="span-95 prepend-top" style="margin-bottom:40px; text-align:center;">
    <h1 style="color:red">
        Programm on kõigile tasuta!
    </h1>
</div>


<script type="text/javascript">
    $(window).load(function() {
        $('#featured').orbit({
            animation: 'fade', //fade, horizontal-slide, vertical-slide
            animationSpeed: 800, //how fast animations are
            advanceSpeed: 4000, //if timer advance is enabled, time between transitions
            startClockOnMouseOut: true, //if timer should restart on MouseOut
            startClockOnMouseOutAfter: 3000, //how long after mouseout timer should start again
            directionalNav: true, //manual advancing directional navs
            captions: true, //if has a title, will be placed at bottom
            captionAnimationSpeed: 800, //how quickly to animate in caption on load and between captioned and uncaptioned photos
            timer: true //if the circular timer is wanted
        });
    });
</script>


{% endblock %}