{% extends main_template %}

{% block head %}
<script src="/javascript/jquery.simplemodal.1.4.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="add_new_box" class="dropdown">
    {% include "new_items_search.html" %}
</div>

<nav id="leftmenu">
    <a href="/catalog"><img src="{{ image }}" width="100" alt="" /></a>
    <ul>
        {% for n in nav %}
        <li{% if n.selected %} class="selected"{% endif %}>
            <a href="{{ n.url }}">{{ n.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

<section id="content">
    <h1>{{ page_title }}</h1>
    {% if tags %}
    {% include "tags.html" %}
    {% endif %}

    {% if items %}
    {% include "items.html" %}
    {% endif %}

    {% if item %}
    {% include "item.html" %}
    {% endif %}

    {% if copies %}
    {% include "copies.html" %}
    {% endif %}
</section>

<script type="text/javascript">
    $(document).ready(function(){
        $("#add_new").click(function() {
            $("#add_new_box").slideDown();
            $("#search_text").focus();
            //$("#add_new_box").modal({
	        //  position: [0,50],
	        //  opacity:20,
	        //  overlayCss: {backgroundColor:"#000000"},
            //});
            return false;
        });
    });
</script>

{% endblock %}