<div class="h-table">
    <div class="row">
        <div class="header">
            {{ str.copy_number }}
        </div>
        <div class="header">
            {{ str.copy_barcode }}
        </div>
        <div class="header" style="text-align:center;">
            {{ str.copy_date }}
        </div>
        <div class="header" style="text-align:right;">
            {{ str.copy_price }}
        </div>
        <div class="header" style="text-align:right;">
            {{ str.copy_quantity }}
        </div>
    </div>
    {% for c in copies %}
    <div class="row">
        <div class="cell">
            {{ c.number|default:"" }}
        </div>
        <div class="cell">
            {{ c.barcode|default:"" }}
        </div>
        <div class="cell" style="text-align:center;">
            {{ c.date|date:"d.m.Y" }}
        </div>
        <div class="cell" style="text-align:right;">
            {{ c.price }}
        </div>
        <div class="cell" style="text-align:right;">
            {{ c.quantity }}
        </div>
    </div>
    {% endfor %}
</div>