<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />
        <title>ARX-Raamat 7 - Abi</title>
        <style type="text/css">
            body {
                margin: 50px 0px;
                background: #E8E8E8 url('/images/bg.png');
                color: black;
                font-family: Georgia, Times, serif;
                font-size: 15px;
            }
            a:link, a:visited, a:active {
                color: #6DA00B;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
    <center>
        Abi saamiseks kirjuta aadressil <a href="mailto:info@arx.ee">info@arx.ee</a> või helista numbril +372 5663 0526.
    <center>
    </body>
</html>
