<div class="h-table" style="margin:0px;">
    {% for item in items %}
    <div class="row">
        <div class="cell">
            <img src={% if item.isbn.0 %}"/item/imagebyisbn/{{ item.isbn.0.value }}"{% else %}"/images/blank.png"{% endif %} height="50" width="35" style="" />
        </div>
        <div class="cell" style="width:100%;">
            <b>{{ item.title.0.value }}</b><br />
            <span style="font-size:11px;">{{ item.publishing_date.0.value }}</span>
        </div>
        <div class="cell" style="text-align:right;">
            <a href="javascript:void(0);" item_id="{{ item.id }}" class="add_item button" alt="">{{ str.add_item }}</a>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".add_item").click(function() {
            $('#search_results').html('<img src="/images/ajax-loader.gif" style="margin: 0px auto 30px auto; display:block;" />');
            $.post('/item/add', { item_id: $(this).attr('item_id') }, function(data) {
                window.location.href = data;
            });
            return false;
        });
    });
</script>